.swiper {
  --swiper-navigation-color: #ffffff; 
  --swiper-pagination-color: #ffffff; 
}


.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.slide-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.slide-text-content {
  position: relative;
  z-index: 2;
}